[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
asgiref = "==3.2.10"
certifi = "==2020.6.20"
distlib = "==0.3.1"
django-bootstrap3 = "==14.1.0"
django-ckeditor = "==6.0.0"
django-js-asset = "==1.2.2"
djangorestframework = "==3.11.1"
djangorestframework-jwt = "==1.11.0"
djangorestframework-simplejwt = "==4.4.0"
filelock = "==3.0.12"
pipenv = "==2020.8.13"
psycopg2-binary = "==2.8.6"
pytz = "==2020.1"
six = "==1.15.0"
sqlparse = "==0.3.1"
virtualenv = "==20.0.35"
virtualenv-clone = "==0.5.4"
Django = "==3.1"
Pillow = "==7.2.0"
PyJWT = "==1.7.1"
gunicorn = "*"
drf-yasg = "*"
djoser = "*"

[requires]
python_version = "3.8"
